.head {
	background: background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%) #1a1a1a; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.1))) #1a1a1a; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #1a1a1a; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #1a1a1a; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #1a1a1a; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #1a1a1a; /* W3C */
	border: 1px solid black;
	padding: 15px 0;
}
.fullcolumn {
	margin: auto;
	width: 920px;
}
.head .fullcolumn {
	padding-left: 31px !important;
	padding-right: 31px !important;
	width: 858px;
}
.wrapper {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: white;
	color: #575757;
}
.wrapper section, .wrapper footer {
	padding-left: 31px;
	padding-right: 1px;
}
.intro {
	overflow: hidden;
}
.intro img {
	float: left;
}
.intro, .features {
	background: #f3f3f3;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 30px 0;
}
.introtext {
	width: 362px;
	float: right;
	padding-right: 31px;
}
.calltoaction {
	padding: 20px 0;
}
.calloutribbon {
	width: 746px;
	margin: auto;
	background: url('../images/ribbon-bg.png');
	padding: 0 30px;
	height: 92px;
	position: relative;
}
.call {
	position: absolute;
	left: 80px;
	top: 34px;
	font-size: 18px;
	font-weight: 600;
	color: white;
}
.calloutribbon a {
	position: absolute;
	right: 80px;
	top: 24px;
	font-size: 18px;
	padding: 10px;
	background: #1f1f1f;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: white;
}

.landingheading {
	width: 200px;
}
.head nav {
	width: 500px;
	float: right;
	text-align: right;
}
.head nav span {
	color: white;
}
.hsignup {
	padding: 7px 10px 10px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: white;
	background: rgb(58,192,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(58,192,255,1) 0%, rgba(0,174,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,192,255,1)), color-stop(100%,rgba(0,174,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(58,192,255,1) 0%,rgba(0,174,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(58,192,255,1) 0%,rgba(0,174,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(58,192,255,1) 0%,rgba(0,174,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(58,192,255,1) 0%,rgba(0,174,255,1) 100%); /* W3C */
	border: 1px solid black;
	margin-left: 5px;
	box-shadow: 0 0 3px rgba(255,255,255,0.9) inset, 0 1px 0 rgba(255,255,255,0.2);
}
.hsignup:hover {
	background: rgb(0,174,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,174,255,1) 0%, rgba(58,192,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,174,255,1)), color-stop(100%,rgba(58,192,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,174,255,1) 0%,rgba(58,192,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,174,255,1) 0%,rgba(58,192,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,174,255,1) 0%,rgba(58,192,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,174,255,1) 0%,rgba(58,192,255,1) 100%); /* W3C */
}

.features h2 {
	text-align: center;
	margin-bottom: 20px;
}
.features {
	overflow: hidden;
}
.one-third {
	width: 266px;
	float: left;
	padding-right: 30px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 21px;
}
.features .one-third {
	text-align: center;
}
.one-third p {
	padding: 10px 0 0;
}
.features .icon {
	width: 83px;
	height: 83px;
	border: 1px solid #aeaeae;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 15px;
	background:  -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%) #ffffff; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.1))) #ffffff; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #ffffff; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #ffffff; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #ffffff; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%) #ffffff; /* W3C */
	box-shadow: 1px 1px 0 white, 3px 3px 5px rgba(0,0,0,0.2) inset;
	position: relative;
}
.features .icon:hover {
	box-shadow: none;
}
.icon img {
	position: absolute;
}
.profile-icon img {
	left: 28px;
	top: 26px;
}
.rate-icon img {
	left: 32px;
	top: 30px;
}
.request-icon img {
	left: 28px;
	top: 28px;
}

.random {
	padding: 30px 0;
	overflow: hidden;
}
.random img {
	border-radius: 5px;
	float: left;
	position: relative;
}
.random img:before {
	content: 'Maybe YOU will be this happy after a good rating on CriticWall';
	position: absolute;
	padding: 10px;
	left: 0;
	bottom: 0;
}
.buzzwords {
	margin-left: 66px;
}
.buzzwords ul {
	padding: 10px 0 0 20px;
}
.happy {
	width: 496px;
	height: 328px;
	position: relative;
	margin-left: 30px;
	overflow: hidden;
	float: left;
}
.happy:after {
	content: 'Maybe YOU will be this happy after a good rating on CriticWall';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	background: background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
	border-top: 1px solid black;
	color: white;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
	text-align: center;

}
.footer-calltoaction {
	padding: 20px 0;
	background: #30bdff;
	border-top: 1px solid #039fe8;
	border-bottom: 1px solid #039fe8;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 1px 0 rgba(255,255,255,0.2) inset;
	color: white;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}
.footer-calltoaction a {
	position: absolute;
	right: 31px;
	top: 10px;
	font-size: 18px;
	font-weight: normal;
	padding: 10px;
	background: #1f1f1f;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	color: white;
}
.testemonials {
	background: #30bdff;
	padding: 30px 0;
	text-align: center;
	border-bottom: 1px solid #039fe8;
}
footer {
	padding: 15px 0;
}
footer p {
	float: right;
	padding: 0 31px 0;
}
footer a {
	padding: 0 20px 0 0;
}
h2 {
	font-size: 36px;
	color: #3b3b3b;
	text-transform: uppercase;
	font-family: 'proxima-nova-condensed';
}
h3 {
	font-size: 24px;
	font-weight: normal;
	color: #3b3b3b;
	text-transform: uppercase;
	font-family: 'proxima-nova-condensed';
}
.wrapper a:hover {
	color: #30bdff;
}